.report-container {
  --primary-text-color: white;
  --secondary-text-color: #5cc4cc;

  background-color: #2d4669;
  height: 900px;
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;

  & .report-header {
    display: flex;
    justify-content: space-between;

    & .report-main-info {
      display: flex;
      flex-direction: column;
      width: 80%;
      border: 2px solid white;
      border-radius: 3px;
      padding: 5px;

      & h1 {
        color: var(--secondary-text-color);
        font-size: 18px;
        text-align: center;
      }

      & .report-main-info__content {
        display: flex;
        flex-direction: column;
        color: var(--primary-text-color);

        & .report-main-info__department {
          & span {
            color: var(--secondary-text-color);
            text-decoration: underline;
          }
        }

        & .report-main-info__period {
          display: flex;
          gap: 5px;
          & span {
            color: var(--secondary-text-color);
          }
        }

        & .report-main-info__responsible {
          & span {
            color: var(--secondary-text-color);
          }
        }
      }
    }

    & .report-raiting {
      display: flex;
      flex-direction: column;
      width: 18%;
      border: 2px solid white;
      border-radius: 3px;
      padding: 3px;

      & .raiting__name {
        color: var(--primary-text-color);
        font-size: 16px;
        text-align: center;
        text-decoration: underline;
      }

      & .raiting__value {
        color: var(--secondary-text-color);
        text-align: center;
        font-size: 48px;
        font-weight: bold;
      }
    }
  }

  & .report-section__header {
    margin: 10px auto 3px auto;
    padding: 3px;
    text-align: center;
    font-size: 18px;
    color: black;
    background-color: var(--primary-text-color);
    border-radius: 5px;
  }

  & .report-violations {
    & .report-violations__details {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      & .report-violations__total-faults {
        display: flex;
        flex-direction: column;
        width: 10%;
        border: 2px solid white;
        padding: 5px;
        color: var(--primary-text-color);
        border-radius: 3px;

        & span {
          text-align: center;
          &:nth-child(1) {
            font-size: 16px;
            text-decoration: underline;
          }

          &:nth-child(2) {
            font-size: 48px;
            color: var(--secondary-text-color);
          }

          &:nth-child(3) {
            font-size: 10px;
          }
        }
      }

      & .report-violations__relative-faults {
        display: flex;
        flex-direction: column;
        width: 15%;
        border: 2px solid white;
        padding: 5px;
        color: var(--primary-text-color);
        border-radius: 3px;

        & span {
          text-align: center;
          &:nth-child(1) {
            font-size: 16px;
            text-decoration: underline;
          }

          &:nth-child(2) {
            font-size: 48px;
            color: var(--secondary-text-color);
          }

          &:nth-child(3) {
            font-size: 10px;
          }
        }
      }

      & .report-violations__chart {
        width: 75%;
      }
    }
  }

  & .report-top-violations {
    & .report-top-violations__chart {
      width: 100%;
    }
  }
}
