legend {
  &.bullet {
    font-size: 16px;
  }
  &.bullet::before {
    content: "•"; /* Add the bullet character */
    margin-right: 5px; /* Add some space between the bullet and the text */
  }
}

.thank_you {
  &-main {
    font-family: "Kaushan Script", cursive;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 3px;
    color: black;
    margin: 0;
  }

  &-secondary {
    margin: 0;
    font-size: 16px;
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 1px;
    font-style: italic;
  }
}
